<div class="alert <%= @classes %>">
  <%= message %>
  <%= tag.button_tag button_contents, type: "button", class: "btn-close",
                     data: { dismiss: "alert", bs_dismiss: "alert" },
                     aria: { label: "Close" } %>
</div>
