<ul class="<%= controller_name %>Tools nav nav-pills">
  <% document_actions.each do |name, opts| %>
    <li class="<%= name %>">
      <%= link_to action_label(name, opts), action_path(name, opts), {:id => "#{name}Link", :name => name, :class => 'btn btn-default', :data => {:ajax_modal => "trigger"}} %>
    </li>
  <% end %>
  
  <%= render_marc_tools %>
</ul>
