<ul class="bookmarkTools nav nav-pills">
  <% BookmarksController.document_actions.each do |action| %>
    <li class="#{action}">
      <%= link_to t("blacklight.tools.#{action}"), self.send("#{action}_bookmarks_path"), {:id => "#{action}Link", :name => action, :class => 'btn btn-default', :data => {:ajax_modal => "trigger"}} %>
    </li>
  <% end %>
  
  <%= render_marc_tools %>
</ul>
