<ul class="<%= controller_name %>Tools nav nav-pills">
  <% document_actions.each do |name, opts| %>
    <li class="<%= name %>">
      <%= render_document_action_partial name, opts, id: @document %>
    </li>
  <% end %>
  
  <%= render_marc_tools %>
</ul>
