.DS_Store
.svn
coverage.data
coverage/
db/*.sqlite3
db/schema.rb
jetty
log/*
webrat-*
config/SolrMarc/*.log*
rerun.txt
solr_marc/solrmarc.log
lib/solrmarc.log.*
tmp/*
*.log
.bundle
Gemfile.lock
spec/internal
.rvmrc
pkg/*
*.sw[pon]
gemfiles/*.gemfile.lock
