.DS_Store
*.sw[pon]
.bundle
.byebug_history
.yardoc
.rvmrc
*.log
Gemfile.lock
coverage/
doc/
gemfiles/*.gemfile.lock
jetty/
log/*
tmp/*
pkg/*
.internal_test_app
/spec/examples.txt
node_modules/*
package-lock.json
