.DS_Store
.svn
coverage.data
coverage/
db/*.sqlite3
db/schema.rb
jetty/logs/*.log
jetty/solr/data/*
log/*
webrat-*
config/SolrMarc/*.log*
rerun.txt
solr_marc/solrmarc.log
tmp/*
*.log
.bundle
Gemfile.lock
tmp/test_app
.rvmrc
pkg/*
