[submodule "test_support/jetty"]
	path = test_support/jetty
	url = git://github.com/projectblacklight/blacklight-jetty.git
[submodule "test_support/data"]
	path = test_support/data
	url = git://github.com/projectblacklight/blacklight-data.git
