.*
Gemfile
Rakefile
Vagrantfile
app/assets/images
app/controllers
app/helpers
app/models
app/presenters
app/services
app/views
blacklight.gemspec
config/locales
config/routes.rb
coverage
db
lib
pkg
provision.sh
solr
spec
tasks
template.demo.rb
