language: ruby
sudo: false

notifications:
  email: false

rvm:
  - 2.3.1

matrix:
  include:
    - rvm: 2.2.5
      env: "RAILS_VERSION=4.1.13"
    - rvm: 2.1.5
      env: "RAILS_VERSION=4.2.7.1"
    - rvm: jruby-9.0.5.0
      env: "RAILS_VERSION=4.2.7.1 JRUBY_OPTS=\"-J-Xms512m -J-Xmx1024m\""

before_install:
  - gem install bundler

env:
 - "RAILS_VERSION=4.2.7.1"

notifications:
  irc: "irc.freenode.org#blacklight"
  email:
      - blacklight-commits@googlegroups.com

global_env:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
