  <div class="<%= classes %>">
    <%= render Blacklight::Facets::SuggestComponent.new(presenter: presenter) %>
    <%= render Blacklight::Facets::IndexNavigationComponent.new(presenter: presenter) %>
  </div>
