<div class='pagination-search-widgets'>

  <div class="page-links d-none" data-page-links-url="<%= page_links_url %>" aria-live="polite">
    <%= link_to_previous_document %> |

    <%= item_page_entry_info %> |

    <%= link_to_next_document %>
  </div>
</div>
