<%= link_to bookmarks_path, id:'bookmarks_nav' do %>
  <%= t('blacklight.header_links.bookmarks') %>
(<span data-role='bookmark-counter'><%= current_or_guest_user.bookmarks.count %></span>)
<% end %>
