<%= link_to bookmarks_path, id:'bookmarks_nav', class: 'nav-link' do %>
  <%= t('blacklight.header_links.bookmarks') %>
<span class="tag tag-default" data-role='bookmark-counter'><%= current_or_guest_user.bookmarks.count %></span>
<% end %>
