@charset "UTF-8";

#mainContent .box1 h2 { font-size: 110%; }

#search .simpleSearch .yui-button .first-child {   
    left:0; /* override -1 value from YUI button.css */
}

#globalNav ul,
  #globalNav ul li {
	height: 3.68em; /* approximately the height of the links (3.65em line height for vertical centering) */
}
/*#globalNav ul a, 
  #globalNav ul span {
	float: left;
	width: auto;
}
#globalNav ul a, 
  #globalNav ul span span span {
	font-size: 96%;
}*/