/* workaround for IE 5.x/6.x to center page */
body {
	text-align:center;
}

/* Holly hack to trigger hasLayout for IE6 easy clearing */
* html #search .simpleSearch,
  * html .docWrap,
  * html .clearFix { height: 1%; } 

/* Regularize text size for IE */
html, body {
	font-size:small;
	_font:x-small; /* for IE5 */
}
	
/* override style to bump up font-size in !IE to get to 13px equivalent */
pre, code {
	font-size:100%; 
}

/* Give "hasLayout" to some items to avoid a host of IE<7 problems. */
div, p { zoom: 1; }

.box1 ul {
	height: 1%;
}

.gainlayout { height: 1px; }

/* If ever there are clearing elements, hide them from IE */
.clearer { display: none; }

/* Add PNG opacity using an IE behavior. See http://www.twinhelix.com/css/iepngfix/ */
#logo,
  .box,
  .box1,
  .thumbImg,
  .iconLink img,
  .iePNG,
  #bookmarkMotif,
  #skipToNav,
  #sectVitals div.ft { behavior: url(/scripts/iepngfix.htc); }
  
a#logo {
	cursor: pointer;
}

#mainContent .box1 h2 {
	font-size: 108%;
	letter-spacing: .04em;
	padding-left: 26px;
	margin-top: 22px;
}
#mainContent .col-group-2-ab .first .box1 h2 {
	padding-left: 25px;
}
#mainContent .box1 ul {
/*margin-left: 9px;
padding-left: 9px;*/
}
#mainContent .col-group-2-ab .first .box1 ul {
/*margin-left: 5px;
padding-left: 6px;*/
}
#mainContent .box1 .bd {
	margin-top: 22px;
	left: 4px;
}
#mainContent .col-group-2-ab .first .box1 .bd {
	left: -3px;
	margin-top: 22px;
}
#mainContent .box1 {
	position: relative;
	left: -4px; /* nudge the heading bg to the left for the right column */
	
}
#mainContent .col-group-2-ab .first .box1 {
	left: 3px; /* nudge the heading bg to the right for the left/first column */
}

/* to allow the banner to clip images that are accidentally too large */
#banner .content { 
	width: 616px; 
}
#banner {
	position: relative;
	z-index: 100;
}

/* Search widget container. Full set of styles below. */
#search .yui-navset .yui-nav li {
	display:inline; /* IE */
	zoom:1; /* IE: kill space between horizontal tabs */
	font-size: 90%;
}
#search .simpleSearch .searchBtn {
	width: 18.5%;
	_cursor: hand; /* for IE5 */
}
#search .advancedOptionsLink {
	padding-bottom: 3px;
	display: inline;
}


/*body.uvalib-t1 #mainContent .bd {
	padding-top: 20px;
}*/

/* Give hasLayout to anchor elements in sectionNav */
#sectNav a,
  #subContent1 .nav a,
  #subContent2 .nav a {
	height: 1px;
}

#sectNav ul ul li,
  #subContent1 .nav ul ul li,
  #subContent2 .nav ul ul li {
	background-position: 0px 0.85em;
}

.col { display: inline; }




#home #Exhibitions .thumbImg {
	margin-top: 0px;
}

.eventsListing dl dt {
	margin-top: .4em;
	margin-right: -3px;
}

/* IE6 doesn't seem to want to make the display of the global nav links "block" unless
   they are floated and given an auto width. But then the enclosing <ul> and <li>
   collapse, even though they should wrap completely around the full box of the links. */
#globalNav ul,
  #globalNav ul li {
	height: 3.65em; /* approximately the height of the links (3.65em line height for vertical centering) */
}
#globalNav ul a, 
  #globalNav ul span {
	float: left;
	width: auto;
}
#globalNav ul a, 
  #globalNav ul span span span {
	font-size: 96%;
}
#globalNav ul ul li {

}


#mainContent {
	display: inline;
}

#search .simpleSearch .yui-button .first-child {   
    left:0; /* override -1 value from YUI button.css */
	padding: .35em 0 .28em 0;
}
#search .simpleSearch .yui-button button {   
    font-size: 90%;
	font-weight: bold;
}


#ftMainContent {
	width: 620px;
}



.thumbImg {
	position: relative;
}

#search .yui-nav a {
	font-size: 90%;
}

#mainContent .hd,
  body.uvalib-t1 #mainContent .hd {
	margin-bottom: -25px;
}

.newsNoticeBadge {
	line-height: 1;
}

.eventsListing dt .month {
	line-height: 1;
}