@media (max-width: 979px) {
  body {
  	padding-top: 0;
  }

}
@media (max-width: 979px) {
  .submit-search-text {
    display: none;
  }


  .navbar .navbar-brand {
    width: 120px;
  }

  #search_field {
    width: 50px;
  }
}

@media (max-width: 480px) {
  #search_field {
    display: none;
  }

  .navbar .navbar-brand {
    width: 35px;
  }
}
