<dialog id="blacklight-modal" class="modal" data-blacklight--modal-target="modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" data-blacklight--modal-target="content">
    </div>
  </div>
</dialog>
