auto-complete [aria-selected="true"],
auto-complete [role="option"]:hover {
  background-color: $dropdown-link-hover-bg;
}
auto-complete {
  position: relative;
  flex-grow: 3;

  ul {
    list-style-type: none;
    position: absolute;
    background-color: $dropdown-bg;
    padding-left: 0;
    border: 1px solid $dropdown-border-color;
    border-radius: $dropdown-border-radius;
  }

  [role="option"]{
    padding: 0.25rem 1.5rem;
  }
}

.no-js #autocomplete-popup {
  display: none;
}
