.dl-invert {
  dt {
    font-weight: normal;
    color: $field_name_color;
    @media (max-width: breakpoint-max(sm)) {
      text-align: left;
    }

    @media (min-width: breakpoint-max(sm)) {
      text-align: right;
    }
  }
}
