/* refworks uses a form; we need to give it some additional padding to make it look like a link */
#refworks-form .btn {
  padding: $nav-link-padding;
}

.clear-bookmarks {
  margin-left: $border-radius-base;
}