.catalog_startOverLink {
  padding-top: 0.3em;
  float: right;
}

#sort-dropdown {
  padding-left: 1em;
}

#document
{
	margin-top:1em;


  h1
  {
    margin:0;
    padding:0 0 0.4em;
  }
}

#documents
{
	margin-bottom:1em;
	margin-top:1em;

  .documentHeader
  {
     padding: 5px 0 0;
  }
}

.ajax_form
{
  margin-bottom: 0;
}

#librarian_view
{
	left:-17%;
	text-align:left;
	top:10%;
	width:700px;
}

#marc_view
{
	padding:5px;
	text-align:left;

  .field
  {
    border-bottom: $marc_item_separator;
    clear:both;
  }

  .ind1, .ind2
  {
    display:inline;
    padding:0 5px;
  }

  .subfields
  {
    padding-left:5em;
  }

  .tag_ind
  {
    float:left;
  }
}

.constraints-container {
  @extend .well;
}

span.constraints-label {
  font-weight:bold;
}

.appliedFilter
{
  .constraint-value {
    cursor: default;
    
    &:hover, &:active {
      background-color: $btn-default-bg;
      border-color: $btn-default-border;
    }
  }

  .filterName:after
  {
    @extend .text-muted;
    content: "\276F";
    padding-left: 3px;
  }

  .remove:hover, .remove:active {
    @extend .btn-danger;

  }
}

.document
{
	border-bottom:1px dotted $dotted_border_color;
	clear:both;
  padding-bottom: 1em;

  dd {
    padding-bottom:0.5em;
  }
}

#documents .documentFunctions
{
  @extend .pull-right;

  .bookmark_toggle
  {
    display:inline;
  }
}

#sidebar form {
  margin: 0;
}

.page_links
{
  @extend .btn;
  cursor: inherit;
  padding-left: 0;
}

.pagination {
  text-align: center ;
}


.solrQuery
{
	background-color: $search_ui_bg_color;
	border:1px dotted $dotted_border_color;
	font-size:90%;
	margin:2em;
	padding:.5em;
}

.document dl {
  margin-top: 0;
  margin-bottom: 0;
}

.dl-invert {
  dt {
    font-weight: normal;
    color: #888;
  }
}

label.checked
{
	font-weight:700;
}

label.toggle_bookmark
{
	color:inherit;
	display:inline-block;
	font-weight:inherit;
	min-width:8.5em;
	text-align:left;
}

span.page a,span.page.current
{
	border-bottom:none;
	margin-right:0.2em;
	padding:0.2em 0.5em;
	text-decoration:none;
}

#sidebar-mlt li {
  padding-bottom: 0.5em;
}

.show-document
{
  .document {
    border: none;
  }
}

#sortAndPerPage {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

#sortAndPerPage .dropdown-toggle {
  cursor: pointer;
}

.no-js #sortAndPerPage {
  & {
    @extend .clearfix;
  }
  .dropdown-menu {
    background: none;
    box-shadow: none;
    border: none;
    position: relative;
    display: block;
    float: none;
  }

}

.index_title {
  float: left;
  max-width: 414px; //col-md-7; figure out how to calculate this correctly?
}

.document-thumbnail {
  float: right;
  padding-left: 20px;
}

#previousNextDocument {
  padding-top: 4px;
  padding-bottom: 4px;
}
