.catalog_startOverLink {
  @extend .pull-right;
  padding: $padding-base-vertical $padding-base-horizontal ;
}

.ajax_form
{
  margin-bottom: 0;
}

#librarian_view
{
	left:-17%;
	text-align:left;
	top:10%;
	width:700px;
}

#marc_view
{
	text-align:left;

  .field
  {
    border-bottom: $marc_item_separator;
    clear:both;
  }

  .ind1, .ind2
  {
    display:inline;
    padding:0 5px;
  }

  .subfields
  {
    padding-left:5em;
  }

  .tag_ind
  {
    float:left;
  }
}

.constraints-container {
  @extend .well;
}

span.constraints-label {
  @extend .h5;
}

.appliedFilter
{
  .constraint-value {
    cursor: default;
    
    &:hover, &:active {
      background-color: $btn-default-bg;
      border-color: $btn-default-border;
    }
  }

  .filterName:after
  {
    @extend .text-muted;
    content: "\276F";
    padding-left: $caret-width-base;
  }

  .remove:hover, .remove:active {
    @extend .btn-danger;

  }
}

#documents {
  .document {
    margin-top: $padding-base-vertical;
    padding-top: $padding-base-vertical;
    border-bottom:1px dotted $table-border-color;
  }

  .documentFunctions {
    @extend .pull-right;

    .bookmark_toggle
    {
      display:inline;
    }
  }
} 

// Tools link on documetn show page
.show-tools {
  .bookmark_toggle {
    padding: $nav-link-padding;
  }
}


#sidebar form {
  margin: 0;
}

.page_links
{
  display: inline-block;
  border: 1px solid transparent;
  padding: $padding-base-vertical $padding-base-horizontal;
  padding-left: 0;
}

.pagination {
  text-align: center ;
}


.solrQuery
{
	background-color: $search_ui_bg_color;
	border:1px dotted $search_ui_border_color;
	font-size:90%;
	margin:2em;
	padding:.5em;
}

.dl-horizontal
{
  dd {
    margin-bottom: $padding-base-vertical;
  }
}

.dl-invert {
  dt {
    font-weight: normal;
    color: $field_name_color;
  }
}

label.toggle_bookmark
{
	font-weight: inherit;
	min-width: 8.5em;
}

#sidebar-mlt li {
  padding-bottom: $padding-base-vertical;
}

#sortAndPerPage, #previousNextDocument {
  border-bottom: 1px solid $pagination-border;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

#previousNextDocument {
  padding-top: 1px;
  padding-bottom: $padding-base-vertical;
}

#sortAndPerPage .dropdown-toggle {
  cursor: pointer;
}

.no-js #sortAndPerPage {
  & {
    @extend .clearfix;
  }
  .dropdown-menu {
    background: none;
    box-shadow: none;
    border: none;
    position: relative;
    display: block;
    float: none;
  }

}

.index_title {
  float: left;
}

.document-thumbnail {
  float: right;
  padding-left: 20px;
}