.ajax_form
{
  margin-bottom: 0;
}

#documents {
  .document {
    margin-top: $padding-base-vertical;
    padding-top: $padding-base-vertical;
    border-bottom:1px dotted $table-border-color;
    @extend .clearfix;

    .document-title-heading {
      @extend h5;
    }
  }
}

// Tools link on document show page
.show-tools {
  .bookmark_toggle {
    padding: $nav-link-padding;
  }
}

// bookmarks checkbox on index, give it some
// lower margin when it collapses
.index-document-functions {
  margin-bottom: ($line-height-computed / 2);
  @media (min-width: $screen-sm-min) {
    margin-bottom: 0;
  }
}

.page_links {
  display: inline-block;
  border: 1px solid transparent;
  padding: $padding-base-vertical $padding-base-horizontal;
  padding-left: 0;
}

.pagination {
  text-align: center ;
}

.dl-horizontal {
  dd {
    margin-bottom: $padding-base-vertical;

    &:after {
      clear: none;
    }
  }
}

.dl-invert {
  dt {
    font-weight: normal;
    color: $field_name_color;
  }
}

label.toggle_bookmark {
	font-weight: inherit;
	min-width: 8.5em;
}

.document-thumbnail {
  float: right;
  padding-left: $line-height-computed;
  margin-bottom: $line-height-computed;
}
