.search-widgets {
  display: flex;
}

.sort-pagination,
.pagination-search-widgets {
  border-bottom: var(--bs-border-width) solid var(--bs-border-color);
}

.sort-pagination .dropdown-toggle {
  cursor: pointer;
}

.no-js {
  .btn-group:focus-within {
    .dropdown-menu {
      display: block; /* show menu when tabbing to it, without Javascript */
    }
  }
}

.view-type {
  display: inline-block;
}

.modal_form {
  margin-bottom: 0;
}
