.search-widgets {
  display: flex;
}

.sort-pagination,
.pagination-search-widgets {
  border-bottom: $pagination-border-width solid $pagination-border-color;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.pagination-search-widgets {
  padding-top: 1px;
  padding-bottom: $spacer;
}

.sort-pagination .dropdown-toggle {
  cursor: pointer;
}

.no-js {
  .btn-group:focus-within {
    .dropdown-menu {
      @extend .show;
    }
  }
}

.view-type {
  display: inline-block;
}

.search-input-group {
  width: 80%;
}

@media (max-width: breakpoint-max(xs)) {
  .search-input-group {
    width: auto;
  }
}

.modal_form {
  margin-bottom: 0;
}
