#sidebar, #facets {
  @extend .clearfix;
  padding-bottom: 1em;
  margin-bottom: 2em;
}

#facets h4 {
  margin-top: 0;
}

.facet_limit-active {
  @extend .panel-success;
}

#facet-panel-collapse {
  @extend .navbar-collapse;
  padding-left: 0;
  padding-right: 0;
  border-top: none;
  box-shadow: none;
  max-height: none;
}

.facets-toggle {
  @extend .navbar-toggle;
  border-color: #ccc;
  margin-top: -0.3em;
  margin-right: 0;

  .icon-bar {
    background-color: #999;
  }
}

.facet-values li {
  padding-bottom: 0.3em; 
  padding-right: 50px;

  text-indent: -20px;
  padding-left: 20px;

  .selected {
    @extend .text-success;
  }

  .remove {
    @extend .text-muted;
    text-indent: 5px;
  }
  .count {
    margin-right: -50px;
    text-align: right;
  }
}

.facet_extended_list
{
  .sort_options
  {
    text-align:right;
  }


  .prev_next_links
  {
    float:left;
  }

}

ul.facet_extended_list
{
	clear:both;
	margin:1.5em 0;

  li
  {
    list-style:none;
    margin:0.5em 0;
  }

   .count {
     float:right;
   }
}

.panel-heading .collapse-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
    font-size: 0.8em;
    line-height: normal;
}
.panel-heading .collapse-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

/* Sidenav
-------------------------------------------------- */

.facet_pagination {
  @extend .clearfix;
}


@media (max-width: $grid-float-breakpoint) {

  #facets h4 {
    margin-top: 10px;
  }

  .facets-toggle {
    margin-top: 3px;
  }

  #facets .top-panel-heading {
    border: 1px solid #ccc;
    margin-bottom: 1em;
  }
}

