.sidenav {
  .navbar-toggler {
    border-color: $navbar-light-toggler-border-color;
    color: $navbar-light-active-color;

    @include hover-focus {
      color: $navbar-light-active-color;
    }
  }

  .navbar-toggler-icon {
    background-image: $navbar-light-toggler-icon-bg;
  }
}

.facets-toggleable {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        .top-panel-heading {
          margin-right: 3em;
        }
      }

      @include media-breakpoint-up($next) {

        // scss-lint:disable ImportantRule
        .facets-collapse {
          display: block !important;
          width: 100%;
        }
        // scss-lint:enable ImportantRule

        .navbar-toggler {
          display: none;
        }
      }
    }
  }
}

.top-panel-heading {
  @extend .navbar-light;
  @extend .clearfix;
}

.facets-heading {
  @extend .h4;
  line-height: inherit;
}

.facet-limit {
  margin-bottom: $spacer;

  .card-block {
    padding: $spacer;
  }
}

.facet-limit-active {
  @extend .card-outline-success;

  .card-header {
    @extend .card-success;
  }
}

.facet-values {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 0;

  li {

    display: table-row;
    .selected {
      @extend .text-success;
    }

  }

  .remove {
    color: $text-muted;
    font-weight: bold;
    padding-left: $spacer / 2;

    &:hover {
      color: $brand-danger;
      text-decoration: none;
    }
  }

  @mixin hyphens-auto {
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
  }

  .facet-label {
    display: table-cell;
    padding-right: 1em;
    text-indent: -15px;
    padding-left: 15px;
    padding-bottom: $spacer / 2;
    @include hyphens-auto;
  }

  .facet-count {
    display: table-cell;
    vertical-align: top;
    text-align: right;
    width: 5em;
  }
}

.facet-extended-list {
  .sort-options {
    text-align:right;
  }

  .prev-next-links {
    float:left;
  }
}

.facet-field-heading {
  @extend .h6;

  a {
    color: inherit;
  }
}

/* Sidenav
-------------------------------------------------- */

.facet-pagination {
  @extend .clearfix;

  &.top {
    padding: $modal-inner-padding;
  }
}

 

/* style for pivot facet's nested list */

.pivot-facet {
  @extend .list-unstyled;

  ul, .pivot-facet {
    @extend .list-unstyled;
    @extend .py-1;
    @extend .px-3;
  }
}
