#facets
{
  ul {
    padding-top:0.5em;
    margin-left: 14px;
  }

  li
    {
      list-style:none;

    a.remove
    {
      color:#666;
      margin-left: 0px;
      padding: 3px 5px;
    }

    a:hover
    {
      background-color:#eee;
    }

    &.more_facets_link
    {
      text-align:right;
    }
  }

  span.selected
  {
    color:green;
  }

  ul,h3 +div
  {
    padding-bottom:1em;
  }
}

.facet_extended_list
{
  .sort_options 
  { 
    text-align:right;
  }


  .prev_next_links
  {
    float:left;
  }

}

ul.facet_extended_list
{
	clear:both;
	margin:1.5em 0;

  li
  {
    list-style:none;
    margin:0.5em 0;
  }
}


/* Sidenav 
-------------------------------------------------- */

.sidenav {
  margin-bottom:1em;
  padding: 0;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.sidenav h5, .sidenav h4 {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
}

.sidenav h5 {
  border-top: 1px solid #e5e5e5;
}
.sidenav h4:first-child {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.sidenav > .facet_limit:last-child > h5 {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
/* Chevrons */
.sidenav .icon-chevron {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.sidenav .facet_limit h5:hover {
  background-color: #f5f5f5;
}
.sidenav .icon-chevron {
  @extend .icon-chevron-right;
  opacity: .5;
}

.sidenav .twiddle-open .icon-chevron {
  @extend .icon-chevron-down;
  opacity: 1;
}

.sidenav h5:hover .icon-chevron,
.sidenav .twiddle-open .icon-chevron {
  opacity: 1;
}
