.top-panel-heading {
  @extend .navbar-light;
  @extend .clearfix;

  .navbar-toggler {
    float: right;
  }
}

.facets-heading {
  @extend .h4;
  line-height: inherit;
}

.facet-limit-active {
  @extend .card-outline-success;
  @extend .card-inverse;

  .card-header {
    @extend .card-success;
  }
}

.facet-values {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 0;

  li {

    display: table-row;
    .selected {
      @extend .text-success;
    }

  }

  .remove {
    color: $text-muted;
    font-weight: bold;
    padding-left: $spacer-x / 2;

    &:hover {
      color: $brand-danger;
      text-decoration: none;
    }
  }

  @mixin hyphens-auto {
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
  }

  .facet-label {
    display: table-cell;
    padding-right: 1em;
    text-indent: -15px;
    padding-left: 15px;
    padding-bottom: $spacer-y;
    @include hyphens-auto;
  }

  .facet-count {
    display: table-cell;
    vertical-align: top;
    text-align: right;
    width: 5em;
  }
}

.facet-extended-list {
  .sort-options {
    text-align:right;
  }

  .prev-next-links {
    float:left;
  }
}

.facet-field-heading {
  @extend .h6;

  a {
    color: inherit;
  }
}

/* Sidenav
-------------------------------------------------- */

.facet-pagination {
  @extend .clearfix;

  &.top {
    padding: $modal-inner-padding;
  }
}

 

/* style for pivot facet's nested list */

.pivot-facet {
  @extend .list-unstyled;

  ul, .pivot-facet {
    @extend .list-unstyled;
    @extend .py-1;
    @extend .px-3;
  }
}
