#facets
{
	font-size:93%;
	padding:1em 0 0 1em;


  h2
  {
    color:#555;
  }

  h3
  {
    color:#555;
    cursor:pointer;
    font-weight:400;
    margin-bottom:0;
    text-align:justify;
  }

  li
    {
      list-style:none;
      margin:.3em 0;

    a.remove
    {
      color:#666;
    }

    a:hover
    {
      background-color:#eee;
    }

    &.more_facets_link
    {
      text-align:right;
    }
  }

  span.selected
  {
    color:green;
  }

  ul,h3 +div
  {
    border-bottom:1px dotted $dotted_border_color;
    margin:0;
    padding-bottom:1em;
  }
}

.facet_extended_list
{
  .sort_options 
  { 
    text-align:right;
  }

  .next_page, .sort_options .numeric
  {
    @include border-radius(0 4px 4px 0);
  }

  .prev_next_links
  {
    float:left;
  }

  .prev_next_links .disabled
  {
    background:none;
    color:gray;
    font-weight:400;
  }

  .prev_page,.sort_options .az
  {
    @include border-radius(4px 0 0 4px);
  }

  .sort_options .az, .sort_options .numeric, .next_page,.prev_page
  {
    background: $facet_extended_button_bg_color;
    border:1px solid $facet_extended_button_border_color;
    display:inline-block;
    font-weight:700;
    padding:0.2em 1em;
  }

  .sort_options .disabled
  {
    background-color: $facet_extended_disabled_button_bg_color;
    border:1px solid $facet_extended_disabled_border_color;
  }

  .sort_options a:hover,.facet_extended_list .prev_next_links a:hover
  {
    background: $facet_extended_button_hover_bg_color;
    border:1px solid $facet_extended_button_hover_border_color;
    color: $facet_extended_button_hover_color;
  }
}

ul.facet_extended_list
{
	clear:both;
	margin:1.5em 0;

  li
  {
    list-style:none;
    margin:0.5em 0;
  }
}
