#facets
{
  div.facet_limit {
    clear: both;
  }

  h5 a {
    color: inherit;
    text-decoration: none;

    &:hover
    {
      background-color:#eee;
    }
  }

  ul {
    padding-top:0.5em;
    margin-left: 14px;
  }

  li
    {
      list-style:none;
      margin-right:1em;
      padding-bottom:0.3em;
      padding-right: 50px;
      clear: right;

    a.remove
    {
      color:#666;
      margin-left: 0px;
      padding: 3px 5px;
    }

    .count {
      text-align:right;
      float:right;
      margin-right: -50px;
    }

    &.more_facets_link {
      text-align:right;
      float:right;
      margin-right: -35px;
    }
  }

  span.selected
  {
    color:green;
  }

  ul,h5 +div
  {
    padding-bottom:1em;
  }
}

.facet_extended_list
{
  .sort_options
  {
    text-align:right;
  }


  .prev_next_links
  {
    float:left;
  }

}

ul.facet_extended_list
{
	clear:both;
	margin:1.5em 0;

  li
  {
    list-style:none;
    margin:0.5em 0;
  }

   .count {
     float:right;
   }
}


/* Sidenav
-------------------------------------------------- */

.sidenav {
  margin-bottom:1em;
  padding: 0;
  background-color: transparent;
  border: 1px solid $navbarBorder;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);

	h5, h4 {
	  display: block;
	  *width: 190px;
	  margin: 0 0 -1px;
	  padding: 8px 14px;
	}
	h5 {
	  border-top: 1px solid $navbarBorder;
	}

  .facet_limit:last-child > h5 {

    &.twiddle-open {
      @include border-bottom-radius(0px);
    }

    @include border-bottom-radius(6px);
    }

}


#facets .btn-navbar {
// Navbar button for toggling navbar items in responsive layouts
// These definitions need to come after '.navbar .btn'
  display: none;
  float: right;
  padding: 7px 10px;
  margin-left: 5px;
  margin-right: 5px;
  @include buttonBackground(darken($navbarBackgroundHighlight, 5%), darken($navbarBackground, 5%));
  @include box-shadow(#{inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075)});
& .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  @include border-radius(1px);
  @include box-shadow(0 1px 0 rgba(0,0,0,.25));
}
& .icon-bar + .icon-bar {
  margin-top: 3px;
}

}

.facets-collapse {
  h5 {
    cursor: pointer;
  }
  /* Chevrons */
  .icon-chevron {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
  }

  .facet_limit h5:hover {
    background-color: darken($bodyBackground, 10%);
  }

  .icon-chevron {
    @extend .icon-chevron-right;
    opacity: .5;
  }

  .twiddle-open .icon-chevron {
    @extend .icon-chevron-down;
    opacity: 1;
    padding-right:2px;
  }

  /* hide the chevron when js isn't supported */
  .no-js & .icon-chevron {
    @extend .icon-chevron-down;
    padding-right:2px;
  }

  h5:hover .icon-chevron,
  .twiddle-open .icon-chevron {
    opacity: 1;
  }
}

.facet_pagination {
  @extend .clearfix;
}


