ul.folderTools
{
  @include border-radius(0 0 4px 4px);
	background-color: $search_ui_bg_color;
	border-color: $search_ui_border_color;
	border-style:solid;
	border-width:0 1px 1px;
	margin:0;
	padding:0.66em;

  li
  {
    display:inline-block;
    margin:0 10px;
  }

  li form
  {
    display:inline;
  }

  li.refworks form input.submit
  {
    display:none;
  }
}

ul.tools
{
  margin:0;
  padding:0;

  li
  {
    display:inline;
    margin:0 10px;
  }
}
