#login form,p,fieldset,table,pre
{
	margin-bottom:1em;
}

a:hover
{
	color:#029;
}

a:link,a:visited,a:active
{
	border-bottom:1px dotted #aaa;
	color:#2e4f81;
	text-decoration:none;
}

abbr,acronym
{
	border-bottom:1px dotted #000;
	cursor:help;
}

blockquote,ul,ol,dl
{
	margin:1em;
}

caption
{
	margin-bottom:.5em;
	text-align:center;
}

dl dd
{
	margin-left:1em;
}

em
{
	font-style:italic;
}

form div.row
{
	clear:both;
	margin-bottom:.5em;
}

form div.row label
{
	float:left;
	margin-right:.5em;
	text-align:right;
	width:120px;
}

form div.row.submit
{
	margin-left:130px;
}

form.per_page
{
	float:right;
}

form.sort
{
	display:inline;
}

h1
{
	font-size:138.5%;
}

h1,h2,h3
{
	margin:1em 0;
}

h1,h2,h3,h4,h5,h6,strong
{
	font-weight:700;
}

h2
{
	font-size:123.1%;
}

h3
{
	font-size:108%;
}

hr
{
	background-color:#ccc;
	border:none;
	height:1px;
}

input
{
	padding:.1em;
}

input[type=text],input[type=password],textarea
{
	width:11.9em;
}

label
{
	color:#555;
	font-weight:700;
}

ol li
{
	list-style:decimal outside;
}

ol,ul,dl
{
	margin-left:2em;
}

select,input,button,textarea
{
	font:1em Verdana, "Lucida Grande", "Lucida Sans Unicode", "Arial Unicode MS", Arial, sans-serif;
}

table.zebra .zebra_stripe,ul.zebra .zebra_stripe
{
	background-color:#F1F5FA;
}

textarea
{
	height:15em;
	width:30em;
}

th
{
	font-weight:700;
	text-align:center;
}

th,td
{
	border:1px solid #000;
	padding:.5em;
}

ul li
{
	list-style:disc outside;
}

