/*
  Header bar at top (Bootstrap nav-bar)
*/

.navbar-brand {  /* The main logo image for the Blacklight instance */
  @if $logo-image {
    background: transparent $logo-image no-repeat top left;
  }

  @if $logo_image {
    // deprecated
    background: transparent image_url($logo_image) no-repeat top left;
  }

  display: inline-block;
  height: 50px;
  margin-right:20px;
  margin-top: -0.4rem;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  text-indent: 100%;
  white-space: nowrap;
  width: 150px;
}

.navbar-search {
  z-index: 1;

  .search-field {
    background: transparent;
    border: none;
  }

  .search-query-form {
    @extend .col-md-8;
    padding-left: 0;
  }

  .input-group-addon.for-search-field {
    padding-bottom: calc(0.5rem - 1px);
  }

  .submit-search-text {
    // hide 'search' label at very small screens
    @media screen and (max-width: breakpoint-max(xs)) {
      @include sr-only();
    }    
  }
}
