/*
  Header bar at top (Bootstrap nav-bar)
*/

.navbar.bg-dark {
  --bs-emphasis-color-rgb: 255, 255, 255;
}

.navbar-logo {
  /* The main logo image for the Blacklight instance */
  background: transparent var(--bl-logo-image) no-repeat top left;
  background-size: var(--bl-logo-width) var(--bl-logo-height);
  height: var(--bl-logo-height);
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: var(--bl-logo-width);
}

.navbar-search {
  z-index: 1;

  search {
    display: contents;
  }

  .search-field {
    // This prevents the widget from being squished so the text overflows
    min-width: 7em;
  }
}
