.blacklight-icons {
  display: inline-flex;
  height: $font-size-base;
  width: $font-size-base;
}

.blacklight-icons svg {
  height: 1rem;
  width: 1rem;
  top: .125rem;
  position: relative;
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    .blacklight-icons g {
      @include stroke-yiq(theme-color($color));
    }
  }

  .btn-outline-#{$color} {
    .blacklight-icons g {
      stroke: $value;
    }

    &.hover,
    &:hover,
    &:active,
    &.active {
      .blacklight-icons g {
        @include stroke-yiq(theme-color($color));
      }
    }
  }
}
