@each $color, $value in $theme-colors {
  .btn-#{$color} {
    .blacklight-icons svg {
      fill: currentColor;
    }
  }

  .btn-outline-#{$color} {
    .blacklight-icons svg {
      fill: currentColor;
    }
  }
}

.btn.btn-icon {
  padding: $btn-padding-y;

  &.btn-sm {
    padding: $btn-padding-y-sm;
  }
}

.remove-icon {
  font-family: $remove-icon-font-family;
}
