.blacklight-icons {
  display: inline-block;
  height: $font-size-base;
  vertical-align: text-top;
  width: $font-size-base;
}

.btn-primary {
  .blacklight-icons g {
    @include stroke-yiq(theme-color("primary"));
  }
}

.btn-light {
  .blacklight-icons g {
    @include stroke-yiq(theme-color("light"));
  }
}

.btn-info {
  .blacklight-icons g {
    @include stroke-yiq(theme-color("info"));
  }
}

.btn-success {
  .blacklight-icons g {
    @include stroke-yiq(theme-color("success"));
  }
}

.btn-warning {
  .blacklight-icons g {
    @include stroke-yiq(theme-color("warning"));
  }
}

.btn-danger {
  .blacklight-icons g {
    @include stroke-yiq(theme-color("danger"));
  }
}
