@import "blacklight/susy_framework";
@import "compass/utilities";

/* Generic layout stuff */
.hide 
{
  display:none
}

/* Global */
body 
{
  background: asset_url('blacklight/bg.png',image) repeat-x top left; 
  background-color: #707070;
  font: 0.7em Verdana, "Lucida Grande", "Lucida Sans Unicode", "Arial Unicode MS", Arial, sans-serif; 
  line-height: 1.4; 
  margin: 0px; 
  padding: 15px;
}

/* Header Container Layout */
#page 
{ 
  @include container;
  background: #fff asset_url('blacklight/border.png',image) repeat-x top left; 
  margin: 0px auto;
}

#hd 
{
  @include full;
  @include clearfix;
  padding: 2em 0 2em 0;


  #logo 
  {
    @include columns(12,24);
  }
  
  #user_util_links 
  { 
    text-align: right;
    @include columns(12,24);
    @include omega(24);
  }
}

#bd 
{
  @include full;
  @include clearfix;
  margin-bottom: 2em;

  #main 
  {
    @include prefix(1,24);
    @include columns(18,24);
    @include omega(24);
  }

  #sidebar 
  {
    @include columns(5,24);
    @include clearfix;
    
    p 
    { 
      padding-top: 2em;
    }
  }
}

#ft {
  @include full;
  @include clearfix;
}


