.modal-dialog {
  border-radius: 5px;
}

.modal-content {
  .facet-pagination.top {
  	display: none;
  }

  .page-sidebar {
    display: none;
  }

  .blacklight-modal-close {
    display: block;
  }

  .prev_next_links.btn-group .btn {
    border: 0;
  }
}

// app/views/catalog/facet.html.erb may be rendered as a modal or a whole page.
// When it's a whole page, don't show the close button.
.blacklight-modal-close {
	display: none;
}
