.modal-header {
	h1 {
		font-size: 24px; line-height: 40px;
	}
}

#ajax-modal {
  #email_form {
    width: auto;
  }

  .facet_pagination.top {
  	display: none;
  }

  #sidebar {
    display: none;
  }

  button.close {
	display: block;
  }
}

button.close {
	display: none;
}