#ajax-modal {

  .modal-content {
    @extend .clearfix;
  }

  #email_form {
    width: auto;
  }

  .facet_pagination.top {
  	display: none;
  }

  #sidebar {
    display: none;
  }

  button.close {
	  display: block;
  }
}


/* app/views/catalog/facet.html.erb may be rendered as a modal or a whole page.
   When it's a whole page, don't show the close button. */
button.ajax-modal-close.close {
	display: none;
}
