.modal-content {
  @extend .clearfix;

  .facet_pagination.top {
  	display: none;
  }

  .page-sidebar {
    display: none;
  }

  .ajax-modal-close {
    display: block;
  }
}

// app/views/catalog/facet.html.erb may be rendered as a modal or a whole page.
// When it's a whole page, don't show the close button.
.ajax-modal-close {
	display: none;
}
