#ajax-modal {

  .modal-content {
    @extend .clearfix;
  }

  #email_form {
    width: auto;
  }

  .facet_pagination.top {
  	display: none;
  }

  #sidebar {
    display: none;
  }

  button.close {
	  display: block;
  }
}


button.close {
	display: none;
}