@media print  {
	#bd
	{
		padding:0;
		position:relative;
		width:100%;
	}

	#hd
	{
		margin:0;
		padding:0 0 2em;
	}

	#page
	{
		background:none;
		border:0;
		margin:0;
		padding:0;
		width:100%;
	}

	* html #documents
	{
		width:75%;
	}

	* html #page
	{
		left:0;
		position:absolute;
		top:0;
	}

	* html #search
	{
		left:1em;
		position:absolute;
		top:-4em;
	}

	body
	{
		background:none;
		margin:0;
		padding:0;
	}

	html
	{
		background:#fff;
	}
}
