
/********** PRINT ***********/
@media print {
	html {background: #fff;}
	body {background: none; padding: 0px; margin: 0;}
  #hd {margin: 0; padding: 0 0 2em 0;}
  #page {width: 100%; margin: 0; padding: 0; background: none; border: 0px;}
  #bd {padding: 0;}
  #bd {position: relative; width: 100%;}
  /*#main {border-left: 1px dotted #ccc; padding: 2em 0 2em 1em; position: relative; margin-left: 150px;}*/
	/*.solrQuery {display: none;}*/
	/* IE 6 Adjustments */
	* html #page {position: absolute; top: 0px; left: 0px;}
	* html #search {position: absolute; top: -4em; left: 1em;}
	* html #documents {width: 75%;}
}
