// the search results on the index view of the catalog
.documents-list {
  .document {
    @extend .clearfix;
    border-bottom: 1px dotted $table-border-color;
    margin-top: $spacer-y;
    padding-top: $spacer-y;

    .document-title-heading {
      @extend h5;
    }

    // bookmarks checkbox on index, give it some
    // lower margin when it collapses
    .index-document-functions {
      margin-bottom: ($line-height-base / 2);

      @media (min-width: breakpoint-min(sm)) {
        margin-bottom: 0;
      }
    }

    .document-thumbnail {
      float: right;
      margin-bottom: $line-height-base;
      padding-left: $line-height-base;
    }
  }
}
