/* Search History */
.search-history {
  --bl-history-filter-name-color: var(--bs-secondary-color, var(--bs-fg-2));

  .constraint {
    padding-inline-end: $spacer;
    display: block;
  }

  .filter-name {
    color: var(--bl-history-filter-name-color);
  }
}
