// the search results on the index view of the catalog
#documents {
  .document {
    margin-top: $padding-base-vertical;
    padding-top: $padding-base-vertical;
    border-bottom:1px dotted $table-border-color;
    @extend .clearfix;

    .document-title-heading {
      @extend h5;
    }

    // bookmarks checkbox on index, give it some
    // lower margin when it collapses
    .index-document-functions {
      margin-bottom: ($line-height-computed / 2);
      @media (min-width: $screen-sm-min) {
        margin-bottom: 0;
      }
    }

    .document-thumbnail {
      float: right;
      padding-left: $line-height-computed;
      margin-bottom: $line-height-computed;
    }
  }
}
