/* Search History */
.search-history {
  --bl-history-filter-name-color: var(--bs-secondary-color);

  td {
    padding: $spacer;
  }

  .constraints-container {
    @extend .mb-0;
  }

  .constraint {
    @extend .px-4;
    display: block;
    text-indent: -1 * map-get($spacers, 3);
  }

  .filter-name {
    color: var(--bl-history-filter-name-color);
  }
}
