// the search results on the index view of the catalog
.documents-list {
  --bl-results-document-margin-top: #{$spacer};
  --bl-results-document-padding-top: #{$spacer};

  .document {
    display: flex;
    border-bottom: 1px dotted $table-border-color;
    margin-top: var(--bl-results-document-margin-top);
    padding-top: var(--bl-results-document-padding-top);

    .document-title-heading {
      @extend h5;
    }

    .document-main-section {
      flex-grow: 1;
    }

    // bookmarks checkbox on index, give it some
    // lower margin when it collapses
    .index-document-functions {
      margin-bottom: ($spacer * 1.5);

      @media (min-width: breakpoint-min(sm)) {
        margin-bottom: 0;
      }
    }

    .document-thumbnail {
      flex-grow: 0;
      margin-bottom: ($spacer * 3);
      padding-left: ($spacer * 3);
    }
  }
}
