// the search results on the index view of the catalog
.documents-list {
  --bl-results-document-margin-top: var(--bl-spacer);
  --bl-results-document-padding-top: var(--bl-spacer);

  .document {
    display: flex;
    border-bottom: 1px dotted var(--bs-border-color);
    margin-top: var(--bl-results-document-margin-top);
    padding-top: var(--bl-results-document-padding-top);

    .document-main-section {
      flex-grow: 1;
    }

    .document-thumbnail {
      flex-grow: 0;
      margin-bottom: calc(var(--bl-spacer) * 3);
      padding-left: calc(var(--bl-spacer) * 3);
    }
  }
}
