.twitter-typeahead {
  float: left;
  width: 100%;
  z-index: 10000;
  
  .tt-input.form-control {
    width: 100%;
  }
  
  .tt-hint.form-control {
    width: 100%;
  }

  .tt-menu {
    @extend .dropdown-menu;
    font-family: $font-family-base;
    width: 100%;
  }

  .tt-cursor {
    background-color: $dropdown-link-hover-bg;
    color: $dropdown-link-hover-color;
    text-decoration: none;
  }

  .tt-suggestion {
    font-size: 14px;
    padding: 5px 5px 5px 10px;
  }
}
