/* Warning! If you want to change these, just copy them into your own theme css. But you want to remove the !default, which only will set them if not already set. */

$logo-image: image_url("blacklight/logo.png") !default;
$logo-width: 150px !default;
$logo-height: 50px !default;

$facet-active-border: $success !default;
$facet-active-bg: $success !default;
$facet-active-item-color: $success !default;

/* for compatability with BS < 5.3  */
$body-secondary-color: rgba($body-color, 0.75) !default;

:root {
  --bs-secondary-color: #{$body-secondary-color}; /* for compatability with BS < 5.3  */

  --bl-main-padding-y: 0.5rem;

  --bl-constraint-remove-hover-bg: #bb2d3b;
  --bl-constraint-remove-hover-border-color: #bb2d3b;

  --bl-field-name-color: var(--bs-secondary-color);

  /* emulate Bootstrap backdrop bg & opacity */
  --bl-modal-backdrop-bg: rgba(0, 0, 0, 0.5);
}
