/* Warning! If you want to change these, just copy them into your own theme css. But you want to remove the !default, which only will set them if not already set. */

$logo_image: 'blacklight/logo.png' !default;

/* Various elements of search customization share these colors */

$search_ui_border_color: #FFFFFF !default;
$search_ui_bg_color: #FFFFFF !default;

/* label (field names) */
$field_name_color: $text-muted !default;

/* border between items on marc view */
$marc_item_separator: 1px solid $text-muted !default;
