/* Warning! If you want to change these, just copy them into your own theme css. But you want to remove the !default, which only will set them if not already set. */

$logo-image: image_url('blacklight/logo.png') !default;
$logo-width: 150px !default;
$logo-height: 50px !default;

// the default bootstrap font-family list includes "Segoe UI Emoji", which, on windows
// renders our remove icon as an emoji-sized x instead of what we see on all other platforms...
// so, for now (until we replace it with an SVG icon or something), we get to override bootstrap:
$remove-icon-font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif !default;

$facet-active-border: $success !default;
$facet-active-bg: $success !default;
$facet-active-item-color: $success !default;

/* for compatability with BS < 5.3  */
$body-secondary-color: rgba($body-color, 0.75) !default;

:root {
  --bs-secondary-color: #{$body-secondary-color}; /* for compatability with BS < 5.3  */

  --bl-field-name-color: var(--bs-secondary-color);
  --bl-facet-remove-color: var(--bs-secondary-color);
}
