<%-
# the data-doc-id attribute is used by our JS that converts to a checkbox/label.
# we don't use the per-form csrf token
-%>
<%= form_tag(bookmark_path,
             authenticity_token: false,
             method:  bookmarked? ? :delete : :put,
             class: "bookmark-toggle",
             data: {
              controller: 'blacklight--checkbox-submit',
              'blacklight--checkbox-submit-present-value': t('blacklight.search.bookmarks.present'),
              'blacklight--checkbox-submit-absent-value': t('blacklight.search.bookmarks.absent'),
              'blacklight--checkbox-submit-inprogress-value': t('blacklight.search.bookmarks.inprogress'),
              'doc-id' => @document.id
            }) do %>
  <div class="checkbox toggle-bookmark">
    <label class="toggle-bookmark" data-blacklight--checkbox-submit-target="label">
      <input type="checkbox" class="toggle-bookmark" data-action="change->blacklight--checkbox-submit#change" <%= 'checked="checked"' if bookmarked? %> data-blacklight--checkbox-submit-target="checkbox">
      <span data-blacklight--checkbox-submit-target="span"><%= bookmarked? ? t('blacklight.search.bookmarks.present') : t('blacklight.search.bookmarks.absent') %></span>
    </label>
  </div>

  <%= submit_tag(t(bookmarked? ? 'remove.button' : 'add.button', scope: 'blacklight.bookmarks'),
                 id: "bookmark_toggle_#{@document.id.to_s.parameterize}",
                 class: "bookmark-#{bookmarked? ? 'remove' : 'add'} btn btn-outline-secondary") %>
<% end %>
