<% value = @presenter.thumbnail.render({ alt: '' }) %>

<% if value %>
  <div class="document-thumbnail">
    <%= @presenter.link_to_document(value, 'aria-hidden': true, tabindex: -1, counter: @counter) %>
  </div>
<% end %>
