<% value = presenter.thumbnail.render(@image_options) %>

<% if value %>
  <div class="document-thumbnail">
    <%= helpers.link_to_document(presenter.document, value, 'aria-hidden': true, tabindex: -1, counter: @counter) %>
  </div>
<% end %>
