<label for="facet_suggest_<%= facet.key %>">
  <%= I18n.t('blacklight.search.facets.suggest.label', field_label: presenter&.label) %>
</label>
<%= text_field_tag "facet_suggest_#{facet.key}",
  nil,
  class: "facet-suggest form-control mb-3",
  data: {facet_field: facet.key},
  placeholder: I18n.t('blacklight.search.form.search.placeholder')
%>
