/* Global */
html {background: #707070;}

body {background: url('../images/bg.png') repeat-x top left; font: 0.7em Verdana, "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif; line-height: 1.4; color:#333; margin: 0px; padding: 15px;}

select,input,button,textarea {font: 1em Verdana, "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;}

strong {font-weight: bold;}
input {padding: .1em;}
label {color:#555; font-weight:bold;}
hr {border:none; height:1px; background-color:#ccc;}

.width100p {width: 100%;}
.left {float: left;}
.right {float: right;}
.clear-left {clear: left;}
.clear-both {clear: both;}
.topDottedBorder {border-top: 1px dotted #ccc;}
.bottomDottedBorder{border-bottom: 1px dotted #ccc;}
.formElement {font: 8pt Verdana, Arial, sans-serif;}

/* Links */
a:link, a:visited, a:active {border-bottom: 1px dotted #aaa; color: #2e4f81; text-decoration: none;}
a:hover {color: #029;}

/* Header Container Layout */
#hd {margin: 0em 2em 0 2em; padding: 2em 0 2em 0; border-bottom: 1px dotted #ccc;}
#hd .yui-g {text-align: right;}
#hd .yui-g .first {text-align: left;}
#doc, #doc2, #doc3, #doc4 {background: #fff url('../images/border.png') repeat-x top left; border-bottom: 2px solid #555; margin: 0px auto;}
/* border-top: 10px solid #548cd8; -moz-border-top-colors: #548cd8 #5188d3 #4e84d0 #4b81cd #497dc9 #457ac6 #4376c2 #4173be #3e71bc #3d6fba; */

/* Body Container Layout */
#bd {padding: 0 2em 2em 2em;}
.yui-t1 #yui-main .yui-b, .yui-t2 #yui-main .yui-b, .yui-t3 #yui-main .yui-b {border-left: 1px dotted #ccc; padding: 2em 0 2em 2em; position: relative;}

/* Left Sidebar Layout */
.sidebar p {padding-top: 2em;}

/* Top Banner */
h1.site_title {background: transparent url('../images/logo.png') no-repeat top left; margin: 2em 0px 0px 1em; height: 35px; width: 120px;}
.first h1 {margin: 0px; padding: 0px;}
h1.site_title a {display:block; height: 35px; width:120px; text-indent: -9999px; overflow: hidden; text-decoration: none; border: 0px;}
h1.site_title a:link, h1.site_title a:visited, h1.site_title a:hover, h1.site_title a:active {border: 0px;}
h2.search {margin:0; display:inline;}

/* Search Box */
#search  {
  text-align: left; 
  font-size: 120%;
  border: 1px solid #AAAAAA;
  border-radius: 4px 4px 0 0;  
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 1em;
}
#search #q {width: 200px;}
#search .submit {padding: 0px 0.25em; margin: 0 0.5em; text-transform: capitalize;}
#search h2 {display: none;}
#search hr {display: none; margin:1em 0; margin-top: 2em;}



/* Content */
table.zebra .zebra_stripe, ul.zebra .zebra_stripe {background-color: #F1F5FA;}
th, td {border: 0;}

/* Facets */
#facets {font-size: 93%; padding: 1em 0 0 1em;}
#facets h2 {color: #555;}
#facets h3 {margin-bottom: 0; color:#555; font-weight:normal; text-align:justify; cursor: pointer;}
#facets ul, #facets h3 +div {border-bottom: 1px dotted #ccc; padding-bottom: 1em; margin:0;}
#facets li {list-style:none; margin: .3em 0;}
#facets li a:hover {background-color: #eee;}
#facets li a.remove {color: #666;}
#facets span.selected {color: green;}
#facets li.more_facets_link {text-align: right;}
ul.facet_extended_list { margin:0;}
ul.facet_extended_list li {list-style:none; margin: 0.5em 0;}
.facet_extended_list {text-align: left;} /* for our ajaxy dialog to make sure we're overriding the yui global text-align: center */
.facet_extended_list .sort_options {text-align: right}



/* Solr Query */
.solrQuery {padding: .5em; margin: 2em; background-color:#eee; border: 1px dotted #ccc; font-size:90%;}

/* Page Navigation */
.constraints {margin: 0px; padding: 0px;}

.pagination {text-align:right; padding-top: 1em; margin-bottom:.5em;}
.pagination h2 {display: none;}
#results_text {display: none;}
.pagination a, .pagination span {padding: 0px 5px; border: 0px;}
.pagination .prev_page, .pagination .next_page {display:none;}
.prev_next_links .prev_page, .prev_next_links .next_page {display:inline;}
.prev_next_links {float:left;}
#previousNextDocument {margin:5px 0;}

#sortAndPerPage {background-color: #eee;}

/* Search Results */
.document {padding: 0.5em 0 0 0; background-color: #fff; border-bottom: 1px dotted #ccc;}

#documents {background-color: #eee; color: #333; }
#documents .documentHeader {background-color: #fff; padding: 0px;}
#documents .documentHeader .documentFunctions {text-align:right;}
#documents .per_page {padding-right: 5px;}
#documents #results_label {margin-left: 5px;}

/* Result List (http://www.quirksmode.org/css/clearing.html) */
h3.index_title {clear: both; margin: 0px; padding: 0px; width: 460px;}

dl {margin: 0px; padding: 0px;}
dl.defList {overflow: auto; padding: 0.5em 0;}
dl.defList dt {float:left; text-align: right; width: 20%; clear: both; color: #888; margin: 0; padding: 2px 1em 2px 0px;}
dl.defList dd {float: left; text-align: left; margin: 0; padding: 2px 0; width: 450px;}

/* Individual Result Listing */
#document h1 {margin: 0px; padding: 0px 0px 1em 0px;}
#marc_view {padding:5px; text-align:left;}
#marc_view .ind1, #marc_view .ind2 {padding:0 5px; display:inline;}
#marc_view .tag_ind {float:left;}
#marc_view .subfields {padding-left:5em;}
#marc_view .field {clear:both; border-bottom:1px solid #CCCCCC;}
#librarian_view{top:10%;left:-17%;text-align:left;width:700px;} /* Lightbox element */

/* Search History */
.search_history .query > a {
  display: block;
  border-bottom: none;
}
.search_history .constraint {
  display: block;
  text-indent: -2em;
  padding-left: 2em;
}

.search_history .constraint .search {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.search_history td {
  vertical-align: top; 
}

.search_history .filterName, .search_history .label {
  color: gray; 
}
.search_history .constraint {
    margin-right: 2em;
}
.search_history .constraint:last-child {
  margin-right: 0;
}

/* FORMS */
form div.row label {float:left; width:120px; text-align:right; margin-right: .5em;}
form div.row {clear:both; margin-bottom:.5em;}
form div.row.submit {margin-left:130px;}
form.per_page {float:right;}
h2#results_label {font-size:100%;}
h2#results_label, form.sort {display:inline;}
textarea {width:30em; height:15em;}

.fieldWithErrors {display:inline;}
.fieldWithErrors label {color:darkred;}

/* Show Tools */
ul.tools {margin: 0px; padding: 0px; text-align:right;}
ul.tools li {display: inline; margin: 0 10px;}

/* Lightbox */
.lightboxTitle {background-color: #cccccc; width: 100%; color: black;}
.lightboxBack {float:right;}
#lightboxContainer {position:absolute; top:0; left:0; right:0; bottom:0; width:99.9%; height:99.9%; background-color:#000000; opacity: 0.6; filter:alpha(opacity=60); text-align:center; z-index:9;}
#lightboxContent, .lightboxContent {position:absolute; display:block; background-color:#EFEFEF; border: 3px solid #DEDEDE; top: 25%; left:25%; width:50%; height:auto; padding-bottom:10px; text-align:center; opacity: 1.0; filter:alpha(opacity=100); z-index:10;}

/* Tag Cloud */
.tagCloud1 {font-size: 1.0em;}
.tagCloud2 {font-size: 1.2em;}
.tagCloud3 {font-size: 1.4em;}
.tagCloud4 {font-size: 1.6em;}
#userBookmarks div{}

#login form {margin-bottom:1em;}

.error, .notice, .errorExplanation {background-color:lightyellow; padding:1em; margin-bottom:1em; border:solid 1px #CDC;}
.error, .notice {font-size: 1.5em;}
.error, .errorExplanation {color: #C30;}
.notice {color: #060;}

/* IE 6 Adjustments */
* html #hd .yui-g .yui-u {margin-top: -5em;}
* html #hd .yui-g .first {margin-top: 2em;}
* html #search {left: -1.8em;}

/********** PRINT ***********/
@media print {
	html {background: #fff;}
	body {background: none; padding: 0px;}
	#hd {margin: 0; padding: 0 0 2em 0;}
	.yui-u.first {margin: 2em 0px 0px 0px;}
	#doc, #doc2, #doc1, #doc4 {width: 100%; margin: 0; padding: 0; background: none; border: 0px;}
	#bd {padding: 0;}
	#yui-main {position: relative; width: 100%;}
	#yui-main .yui-b {border-left: 1px dotted #ccc; padding: 2em 0 2em 1em; position: relative; margin-left: 150px;}
	.yui-b {float: none; width: 130px;}
	.yui-b p {padding-top: 2em;}
	#facets {padding: 1em 0 0 0;}
	.solrQuery {display: none;}
	/* IE 6 Adjustments */
	* html #yui-main .yui-b {position: absolute; top: 0px; left: 0px;}
	* html #search {position: absolute; top: -4em; left: 1em;}
	* html #documents {width: 75%;}
}

/* search constraints/filter block */
/* ========================
Search Parameters
======================== */
  /* current search criteria are rendered right under search box, and appear
   as part of same section. */
#appliedParams {
  background-color: #F0F0F0;
  border-right: 1px solid #AAAAAA;
  border-left: 1px solid #AAAAAA;
  border-bottom: 1px solid #AAAAAA;
  padding: 1em 0.66em 0.33em 1em;
  border-radius:0 0 4px 4px;  
  -moz-border-radius:0 0 4px 4px;
  -webkit-border-radius:0 0 4px 4px;
  margin-bottom: 2em;
}

.appliedFilter {
  position: relative;
  display:inline-block;
  padding:3px 3px 3px 1.5em; 
  margin-bottom: 0.66em;
  margin-right: 0.33em;
  background:#e2edfe;  
  border:1px solid #c4dafe;
  -moz-border-radius:15px 15px 15px 15px;
  -webkit-border-radius:15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
}
.appliedFilter .btnRemove{
  display:block;
  position:absolute; 
  z-index:5; 
  right:0px; 
  top:0; 
  width:32px;
  height:100%; 
  background:url(../images/remove.gif) no-repeat center center; 
  border-left:1px solid #d0daea;
  border-bottom: none;
}
.appliedFilter .queryName, .appliedFilter .filterName {
  /* ">" image */ 
  padding-right:14px; 
  background:url(../images/separator.gif) no-repeat right center;
}

.filterValue {
  padding-right:37px; /* leave room for close button */ 
}


.pageEntriesInfo {position:relative; padding:10px; background:#c9d484;}



#startOverLink{display:block; position:absolute; top:50%; right:0px; margin-top:-12px; padding:0 10px 3px 15px; line-height:22px; text-decoration:none; color:#fff; background:url(../images/start_over.gif) no-repeat center center; border-bottom: none;}



