.pagination {
  background: white;
  /* self-clearing method: */ }
  .pagination a, .pagination span {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination span.disabled {
    color: #999;
    border: 1px solid #DDD; }
  .pagination span.current {
    font-weight: bold;
    background: #2E4F81;
    color: white;
    border: 1px solid #2E4F81; }
  .pagination a {
    text-decoration: none;
    color: #2E4F81;
    border: 1px solid #92B7E2; }
    .pagination a:hover, .pagination a:focus {
      color: #003;
      border-color: #003; }
  .pagination .page_info {
    background: #2E6AB1;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
    .pagination .page_info b {
      color: #003;
      background: #6aa6ed;
      padding: .1em .25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .pagination .prev_next_links {border-right: 20px solid transparent;}
  * html .pagination {
    height: 1%; }
  *:first-child+html .pagination {
    overflow: hidden; }

