<div class='card card-default'>
  <div class="card-body">
    <h4 class="card-title">Search tips</h4>
    <ul class="advanced-help">
     <li>Select "match all" to require all fields.
     </li>

     <li>Select "match any" to find at least one field.
     </li>

     <li>Combine keywords and attributes to find specific items.
     </li>

     <li>Use quotation marks to search as a phrase.

     <li>Use "+" before a term to make it required. (Otherwise results matching only some of your terms may be included).</li>

     <li>Use "-" before a word or phrase to exclude.

     <li>Use "OR", "AND", and "NOT" to create complex boolean logic. You can use parentheses in your complex expressions. </li>
     <li>Truncation and wildcards are not supported - word-stemming is done automatically.</li>
   </ul>
  </div>
</div>
