<% if current_user and current_user.document_is_bookmarked? document[:id] %>
  <span>This item is in your <%= link_to 'bookmarks', bookmarks_path %></span>
<% elsif current_user %>
  <%- @bookmark ||= Bookmark.new -%>
  <% form_for(@bookmark) do |f| %>
    <%= f.hidden_field(:document_id, :value => h(document[:id])) %>
    <%= f.hidden_field(:title, :value => h(document[document_show_link_field])) %>
    <%= f.submit 'Bookmark this item', :id => "user_submit_#{document[:id]}" %>
  <% end #form %>
<% else %>
  &nbsp;
<% end %>