<% @documents.each do |document| %>

<h1><%= citation_title(document) %></h1>

<% if document.respond_to?(:export_as_mla_citation_txt) %>
  <h4>MLA</h4>
  <%= document.send(:export_as_mla_citation_txt).html_safe %><br/><br/>
<% end %>

<% if document.respond_to?(:export_as_apa_citation_txt) %>
  <h4>APA</h4>
  <%= document.send(:export_as_apa_citation_txt).html_safe %><br/><br/>
<% end %>

<%- if document.respond_to?(:export_as_chicago_citation_txt) -%>
  <h4>Chicago</h4>
  <%= document.send(:export_as_chicago_citation_txt).html_safe %>
<%- end -%>

<% end %>
