<div class="lightboxTitle">
  <div class="lightboxBack">
    <%= link_to "Close [X]", catalog_path(@document.id), {:class => "lightboxLink", :name => 'citation'} %>
  </div>
  <%= document_show_html_title %>
</div>


<% unless @document.marc.to_mla.blank? %>
  <h4>MLA</h4>
  <%= @document.marc.to_mla %><br/><br/>
<% end %>

<% unless @document.marc.to_apa.blank? %>
  <h4>APA</h4>
  <%= @document.marc.to_apa %>
<% end %>