<div class="lightboxTitle">
  <div class="lightboxBack">
    <%= link_to "Close [X]", catalog_path(@document[:id]), {:class => "lightboxLink", :name => 'citation'} %>
  </div>
  <%= document_show_html_title %>
</div>


<% if @document.respond_to?(:export_as_mla_citation_txt) %>
  <h4>MLA</h4>
  <%= @document.send(:export_as_mla_citation_txt) %><br/><br/>
<% end %>

<% if @document.respond_to?(:export_as_apa_citation_txt) %>
  <h4>APA</h4>
  <%= @document.send(:export_as_apa_citation_txt) %>
<% end %>