<%- # local params:
    # label 
    # value
    # options =>
    #   :remove => url for a remove constraint link
    #   :classes => array of classes to add to container span
    options ||= {}
    options[:escape_label] = true unless options.has_key?(:escape_label)
    options[:escape_value] = true unless options.has_key?(:escape_value)
-%>

<span class="appliedFilter constraint <%= options[:classes].join(" ") if options[:classes] %>">
      <%- unless label.blank? -%>
        <span class="filterName"><%= options[:escape_label] ? h(label) : label %></span> 
      <%- end -%>
      <%- unless value.blank? -%>
        <span class="filterValue"><%= options[:escape_value] ? h(value) : value %></span>
      <%- end -%>
      <%- unless options[:remove].blank? -%>
        <% accessible_remove_label =               
                if label.blank?
                  "Remove constraint #{options[:escape_value] ? h(value) : value}"
                else
                  "Remove constraint #{options[:escape_value] ? h(value) : value}: #{options[:escape_value] ? h(value) : value}"
                end              
        %>                
        <%= link_to(accessible_remove_label,
					options[:remove],
					:class=>'btnRemove imgReplace',
          :alt=>'remove'
				) %>
      <%- end -%>
</span>
