<% if query_has_constraints? %>
      <div id="appliedParams" class="constraints-container">
        <span class="constraints-label"><%= t('blacklight.search.filters.title') %></span>
  
          <%=link_to t('blacklight.search.start_over'), start_over_path, :class => "catalog_startOverLink btn btn-sm btn-text", :id=>"startOverLink" %>
        <%= render_constraints(params) %>  

      </div>
<% end %>
