<% if query_has_constraints? %>
  <div id="appliedParams" class="clearfix constraints-container">
    <h2 class="sr-only"><%= t('blacklight.search.search_constraints_header') %></h2>

    <%= render 'start_over' %>
    <span class="constraints-label sr-only"><%= t('blacklight.search.filters.title') %></span>
    <%= render_constraints(params) %>
  </div>
<% end %>
