<%- # local params:
    # label 
    # value
    # options =>
    #   :remove => url for a remove constraint link
    #   :classes => array of classes to add to container span
    options ||= {}
    options[:escape_label] = true unless options.has_key?(:escape_label)
    options[:escape_value] = true unless options.has_key?(:escape_value)
-%>

<span class="btn-group appliedFilter constraint <%= options[:classes].join(" ") if options[:classes] %>">
<a href="#" class="constraint-value btn btn-default btn-disabled">
      <%- unless label.blank? -%>
        <span class="filterName"><%= options[:escape_label] ? h(label) : raw(label) %></span> 
      <%- end -%>
      <%- unless value.blank? -%>
        <span class="filterValue"><%= options[:escape_value] ? h(value) : raw(value) %></span>
      <%- end -%>          
        </a>

      <%- unless options[:remove].blank? -%>
        <% accessible_remove_label = content_tag :span, :class => 'sr-only' do               
                if label.blank?
                  t('blacklight.search.filters.remove.value', :value => (options[:escape_value] ? h(value) : value))
                else
                  t('blacklight.search.filters.remove.label_value', :label => (options[:escape_label] ? h(label) : label), :value => (options[:escape_value] ? h(value) : value))
                end 
                end             
        %>    

        <%= link_to(content_tag(:span, '', :class => 'glyphicon glyphicon-remove') + accessible_remove_label,
					options[:remove], :class => 'btn btn-default remove dropdown-toggle'
				) %>
      <%- end -%>
</span>
