<% if search_state.has_constraints? %>
  <div id="appliedParams" class="clearfix constraints-container">
    <%=link_to t('blacklight.search.start_over'), start_over_path, class: "catalog_startOverLink btn btn-primary" %>
    <span class="constraints-label sr-only"><%= t('blacklight.search.filters.title') %></span>
    <%= Blacklight::ConstraintsPresenter.new(params, self).render %>
  </div>
<% end %>
