<% if query_has_constraints? %>
  <div id="appliedParams" class="clearfix constraints-container">
    <h2 class="sr-only"><%= t('blacklight.search.search_contraints_header') %></h2>

    <%=link_to t('blacklight.search.start_over'), start_over_path, class: "catalog_startOverLink btn btn-primary" %>
    <span class="constraints-label sr-only"><%= t('blacklight.search.filters.title') %></span>
    <%= render_constraints(params) %>
  </div>
<% end %>
