<% if @response.response[:numFound] <= spell_check_max and @response.spelling.words.size > 0 %>
  <div id="spell">
    <h4 class="suggest"><i><%= t('blacklight.did_you_mean', :options =>  @response.spelling.words.map { |word| link_to_query(word) }.join(" #{t('blacklight.or')} ")).html_safe %></i></h4>
  </div>
<% end %>
