<div class="documentFunctions">
   <%= render :partial=>'bookmark_control', :locals=>{:document=>document} %>
   <%= render :partial=>'folder_control', :locals=>{:document=>document, :display=>'button'} %>
</div>
