<% # container for all documents in index list view -%>
<div id="documents" class="documents-<%= document_index_view_type %>">
  <%= render partial: documents, as: :document, locals: { view_cache: Blacklight::ViewCache.new } %>
</div>
