    <% # container for a single doc -%>
    <div class="document <%= render_document_class document %>">
      <%= render_document_partials document, blacklight_config.index.partials, :document_counter => document_counter %>
    </div>
