<% # main container for facets/limits menu -%>
<% if has_facet_values? %>
<div id="facets" class="facets sidenav">

  <div class="top-panel-heading">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#facet-panel-collapse" aria-controls="facet-panel-collapse" aria-expanded="false" aria-label="Toggle facets">
      &#9776;
    </button>

    <h2 class="facets-heading">
      <%= t('blacklight.search.facets.title') %>
    </h2>
  </div>

  <div id="facet-panel-collapse" class="collapse navbar-toggleable-xs">
    <%= render_facet_partials %>
  </div>
</div>
<% end %>
