  <% if @pagination.has_previous? || @pagination.has_next? %>
    <div class="prev_next_links">
      <span class="prev_link"><%= link_to_if(@pagination.has_previous?, '« Previous', catalog_facet_path( @pagination.params_for_previous_url( params) ) , :class=>:"prev_page")  %></span> 
          
      <span class="next_link"><%= link_to_if(@pagination.has_next?, 'Next »', catalog_facet_path( @pagination.params_for_next_url(params)), :class => "next_page" ) %></span>
    </div>
  <% end %>

  <div class="sort_options">
    <%=  link_to_unless(@pagination.sort == 'index', "A-Z Sort", @pagination.params_for_resort_url('index', params), :class => "sort_change") %> 
    |
    <%= link_to_unless(@pagination.sort == 'count', "Numerical Sort", @pagination.params_for_resort_url('count', params), :class => "sort_change") %>
  </div>


