<% unless request.xml_http_request? %><% # dont display the pagination links when request is "ajax" based -%>
  <div class="paging">
    <%= @pagination.has_previous? ? link_to('previous', catalog_facet_path( @pagination.params_for_previous_url( params) )) : 'previous' %> | 
        
    <%= @pagination.has_next? ? link_to('next', catalog_facet_path( @pagination.params_for_next_url(params)) ) : 'next' %>
  </div>
<% end %>