<div class="facet_limit blacklight-<%= facet_field.field.parameterize %>">
  <h5><%= link_to facet_field.label, "#", "data-no-turbolink" => true -%> <i class="icon-chevron"></i></h5>
  <%= yield %>
</div>
