<ul class="facet-values list-unstyled">
  <% paginator = facet_paginator(facet_field, display_facet) %>
  <%= presenter.render_facet_limit_list paginator, facet_field.key %>

  <% unless paginator.last_page? || params[:action] == "facet" %>
    <li class="more_facets">
      <%= link_to t("more_#{field_name}_html", scope: 'blacklight.search.facets', default: :more_html, field_name: facet_field.label),
        search_facet_path(id: facet_field.key),
        data: { blacklight_modal: 'trigger' } %>
    </li>
  <% end %>
</ul>
