

  <div class="sort_options">
    <%=  link_to_unless(@pagination.sort == 'index', "A-Z Sort", @pagination.params_for_resort_url('index', params)) %> 
    |
    <%= link_to_unless(@pagination.sort == 'count', "Numerical Sort", @pagination.params_for_resort_url('count', params)) %>
  </div>

  <div class="paging">
    <%= link_to_if(@pagination.has_previous?, 'previous', catalog_facet_path( @pagination.params_for_previous_url( params) ))  %> | 
        
    <%= link_to_if(@pagination.has_next?, 'next', catalog_facet_path( @pagination.params_for_next_url(params)) ) %>
  </div>
