<% # main container for facets/limits menu -%>
<% if has_facet_values?  %>
<div id="facets" class="facets sidenav">
  <h4><%= t('blacklight.search.facets.title') %></h4>
  <%= render_facet_partials %>
</div>
<% end %>&nbsp;
