<% if show_sort_and_per_page? and !blacklight_config.per_page.blank? %>

  <span class="sr-only"><%= t('blacklight.search.per_page.title') %></span>
<div id="per_page-dropdown" class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><%= link_to(t(:'blacklight.search.per_page.button_label', :count => current_per_page), "#") %> <span class="caret"></span></button>
  <ul class="dropdown-menu">
        <%- blacklight_config.per_page.each do |count| %>
          <li><%= link_to(t(:'blacklight.search.per_page.label', :count => count).html_safe, 
                          params_for_search(:merge_params => {:per_page => count}, :omit_keys => [:page])) %></li>
        <%- end -%>
  </ul>
</div>
<% end %>