<% #Using the Bootstrap Pagination class  -%>
<div class='pagination-search-widgets'>
  <% if @previous_document || @next_document %>
    <div class="page-links">
      <%= link_to_previous_document @previous_document %> |

      <%= item_page_entry_info %> |

      <%= link_to_next_document @next_document %>
    </div>
  <% end %>
</div>
