<% # Using the Bootstrap Pagination class  -%>
<div class='pagination-search-widgets'>
  <% if search_context[:prev] || search_context[:next] %>
    <div class="page-links">
      <%= link_to_previous_document search_context[:prev] %> |

      <%= item_page_entry_info %> |

      <%= link_to_next_document search_context[:next] %>
    </div>
  <% end %>
</div>
