<%-
  # Compare with render_document_functions_partial helper, and
  # _document_functions partial. BL actually has two groups
  # of document-related tools. "document functions" by default
  # contains Bookmark functionality shown on both results and
  # item view. While "document tools" contains external export type
  # functions by default only on detail.

-%>
<div class="card show-tools">
  <div class="card-header">
    <%= t('blacklight.tools.title') %>
  </div>

  <div class="card-block">
    <ul class="nav-pills nav-stacked">
      <%= render_show_doc_actions @document do |config, inner| %>
        <li class="nav-item <%= config.key %>">
          <%= inner %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
