<%# locals: (presenter: nil) %>
<% presenter ||= document_presenter(@document) %>

<% @page_title = t('blacklight.search.show.title', document_title: presenter.html_title, application_name: application_name).html_safe %>
<% content_for(:head) { render_link_rel_alternates } %>

<%= render presenter.view_config.document_header_component.new(document: @document, search_context: @search_context, search_session: search_session) %>

<% document_component = presenter.view_config.document_component -%>
<%= render document_component.new(id: 'document', document: presenter, component: :div, show: true, partials: presenter.view_config.partials) do |component| %>
  <% component.with_title(as: 'h1', classes: '', link_to_document: false) %>
  <% component.with_footer do %>
    <% if @document.respond_to?(:export_as_openurl_ctx_kev) %>
      <!-- COinS, for Zotero among others. -->
      <span class="Z3988" title="<%= @document.export_as_openurl_ctx_kev(presenter.display_type) %>"></span>
    <% end %>
  <% end %>
<% end %>
