<%= render(Blacklight::SearchContextComponent.new(search_context: @search_context, search_session: search_session)) if search_session['document_id'] == @document.id %>

<% @page_title = t('blacklight.search.show.title', document_title: document_presenter(@document).html_title, application_name: application_name).html_safe %>
<% content_for(:head) { render_link_rel_alternates } %>

<%= render (blacklight_config.view_config(:show).document_component).new(presenter: document_presenter(@document), component: :div, show: true) do |component| %>
  <% component.title(as: 'h1', classes: '', link_to_document: false, actions: false) %>
  <% component.footer do %>
    <% if @document.respond_to?(:export_as_openurl_ctx_kev) %>
      <!-- COinS, for Zotero among others. -->
      <span class="Z3988" title="<%= @document.export_as_openurl_ctx_kev(document_presenter(@document).display_type) %>"></span>
    <% end %>
  <% end %>

  <% blacklight_config.view_config(:show).partials.each do |partial| %>
    <% component.partial do %>
      <%= render_document_partial @document, partial, component: component %>
    <% end %>
  <% end %>
<% end %>
