<%-
  # Compare with render_document_functions_partial helper, and
  # _document_functions partial. BL actually has two groups
  # of document-related tools. "document functions" by default
  # contains Bookmark functionality shown on both results and
  # item view. While "document tools" contains external export type
  # functions by default only on detail.

-%>
<div class="panel panel-default show-tools">
  <div class="panel-heading">
    <%= t('blacklight.tools.title') %>
  </div>

  <div class="panel-body">
  <ul class="nav">
      <li>
        <%= render_show_doc_actions @document %>
      </li>
    <% document_actions.select { |name, config| evaluate_if_unless_configuration config, @document }.each do |name, config| %>
      <li class="<%= name %>">
        <%= render_document_action_partial name, config, @document %>
      </li>
    <% end %>
  </ul>
  </div>
</div>
