<% if show_sort_and_per_page? and !active_sort_fields.blank? %>
<div id="sort-dropdown" class="sort-dropdown btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
      <%= t('blacklight.search.sort.label', :field =>sort_field_label(current_sort_field.key)) %> <span class="caret"></span>
  </button>

  <div class="dropdown-menu" role="menu">
    <%- active_sort_fields.each do |sort_key, field_config| %>
      <%= link_to(sort_field_label(sort_key), url_for(search_state.params_for_search(sort: sort_key)), class: 'dropdown-item') %>
    <%- end -%>
  </div>
</div>
<% end %>
