<div id="sortAndPerPage" class="sort-pagination clearfix">
  <%= render partial: "paginate_compact", object: @response if show_pagination? %>
  <%= render_results_collection_tools wrapping_class: "search-widgets pull-md-right" %>
</div>
