<div id="sortAndPerPage" class="clearfix">
  <%= render :partial => "paginate_compact", :object => @response if show_pagination? %>
  <div class="search-widgets pull-right">
    <%= render :partial => 'sort_widget' %>
    <%= render :partial => 'per_page_widget' %>
    <%= render :partial => 'view_type_group' %>
  </div>
</div>
