<% if show_sort_and_per_page? and !blacklight_config.sort_fields.blank? %>
<div id="sort-dropdown" class="dropdown pull-right hidden-phone">
  <ul class="css-dropdown">
    <li class="btn">
      <%= link_to(t('blacklight.search.sort.label', :field =>current_sort_field.label), "#") %> <span class="caret"></span>
      <ul>
        <%- blacklight_config.sort_fields.each do |sort_key, field| %>
          <li><%= link_to(field.label, params_for_search(:merge_params => {:sort => sort_key}, :omit_keys => [:page])) %></li>
        <%- end -%>
      </ul>
    </li>
  </ul>
</div>
<% end %>