<div id="sortAndPerPage" class="clearfix">
   <%= render :partial => "paginate_compact", :object => @response %>
   <div class="pull-right hidden-xs">
    <%= render :partial => 'sort_widget' %>

    <%= render :partial => 'per_page_widget' %>
    </div>

</div>
