<% if presenter.thumbnail.exists? && tn = presenter.thumbnail.thumbnail_tag({}, counter: document_counter_with_offset(document_counter)) %>
<div class="document-thumbnail">
  <%= tn %>
</div>
<% end %>
