<%# For backward compatibility check that presenter is a local method.
    this can be removed in Blacklight 8 %>
<% presenter = presenter(document) if defined?(presenter) == 'method' %>
<% if presenter.thumbnail.exists? &&
      tn = presenter.thumbnail.thumbnail_tag({ alt: '' },
                                             'aria-hidden': true,
                                             tabindex: -1) %>
<div class="document-thumbnail">
  <%= tn %>
</div>
<% end %>
