<%- if has_thumbnail?(document) && tn = render_thumbnail_tag(document, {}, :counter => document_counter + 1 + @response.params[:start].to_i) %>
<div class="document-thumbnail">
  <%= tn %>
</div>  
<%- end %>