<% if has_alternative_views? -%>
<div class="view-type">
  <span class="sr-only"><%= t('blacklight.search.view_title') %></span>
  <div class="view-type-group btn-group">
    <%  blacklight_config.view.keys.each do |view| %>
    <%= link_to url_for(params.merge(:view => view)), :title => t("blacklight.search.view_title.#{view}", default: t("blacklight.search.view.#{view}", default: blacklight_config.view[view].title)), :class => "btn btn-default view-type-#{ view.to_s.parameterize } #{"active" if document_index_view_type == view}" do %>
      <%= render_view_type_group_icon view %>
        <span class="caption"><%= t("blacklight.search.view.#{view}") %></span>
      <% end %>
    <% end %>
  </div>
</div>
<% end -%>