<% if show_sort_and_per_page? and has_alternative_views? -%>
<div class="view-type">
  <span class="sr-only"><%= t('blacklight.search.view_title') %></span>
  <div class="view-type-group btn-group">
    <%  document_index_views.each do |view, config| %>
    <%= link_to url_for(params.merge(:view => view)), :title => t(:"blacklight.search.view_title.#{view}", default: [:"blacklight.search.view.#{view}", blacklight_config.view[view].title || view.to_s]), :class => "btn btn-default view-type-#{ view.to_s.parameterize } #{"active" if document_index_view_type == view}" do %>
      <%= render_view_type_group_icon view %>
        <span class="caption"><%= t(:"blacklight.search.view.#{view}", default: blacklight_config.view[view].title || view.to_s) %></span>
      <% end %>
    <% end %>
  </div>
</div>
<% end -%>
