<div class="modal-header">
  <h1><%= t('blacklight.tools.citation') %></h1>
  <button type="button" class="blacklight-modal-close close" data-dismiss="modal" aria-label="<%= t('blacklight.modal.close') %>">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
<%= render :partial => 'citation' -%>
</div>
