<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h1><%= t('blacklight.email.form.title') %></h1>
</div>

<div class="modal-body">
  <%= render partial: '/flash_msg' %>
  <span data-blacklight-modal="close"></span>
</div>
