<div class="modal-header">
<button type="button" class="ajax-modal-close close" data-dismiss="modal" aria-label="<%= t('blacklight.modal.close') %>">
  <span aria-hidden="true">&times;</span>
</button>
<h1 class="modal-title"><%= t('blacklight.email.form.title') %></h1>
  </div>
<%= render :partial => 'email_form' %>
