<div id="facetFieldValues">
  
  <%= render :partial=>'facet_pagination' %>

  <h3><%= facet_field_labels[params[:id]] %></h3>
  
  <% @pagination.items.each do |item| %>
    <div class="facet"><%= link_to(item.value, add_facet_params_and_redirect(params[:id], item.value)) %> (<%= format_num item.hits %>)</div>
  <% end %>
  
</div>