<div id="sidebar" class="col-md-3">
  <%= render 'search_sidebar' %>
</div>

<div id="content" class="col-md-9">
  <% unless has_search_parameters? %>
    <%# if there are no input/search related params, display the "home" partial -%>
    <%= render 'home' %>
  <% else %>
    <%= render 'search_results' %>
  <% end %>
</div>
