<% if current_search_session && current_search_session['document_id'] == @document.id %>
  <div id="appliedParams" class="clearfix constraints-container">
    <%= render 'start_over' %>
    <%= link_back_to_catalog class: 'btn btn-outline-secondary' %>
  </div>
<% end %>

<%= render_document_main_content_partial %>

<% content_for(:sidebar) do %>
  <%= render_document_sidebar_partial @document %>
<% end %>
