<div id="content" class="col-md-9 col-sm-8 show-document">
  <%= render_document_main_content_partial %>
</div>

<div id="sidebar" class="col-md-3 col-sm-4">
   <%= render_document_sidebar_partial %>
</div>
