<section id="content" class="<%= show_content_classes %>">
  <%= render_document_main_content_partial %>
</section>

<section id="sidebar" class="<%= show_sidebar_classes %>">
   <%= render_document_sidebar_partial %>
</section>
