<div class="modal-header">
	<h1><%= t('blacklight.sms.form.title') %></h1>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<%= render :partial => 'sms_form' %>
