<div class="modal-header">
	<h1 class="modal-title"><%= t('blacklight.sms.form.title') %></h1>
	<button type="button" class="blacklight-modal-close close" data-dismiss="modal" aria-label="<%= t('blacklight.modal.close') %>">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%= render :partial => 'sms_form' %>
