<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h1 class="modal-title"><%= t('blacklight.sms.form.title') %></h1>
</div>

<div class="modal-body">
  <%= render partial: '/shared/flash_msg' %>
  <span data-blacklight-modal="close"></span>
</div>
