<div class="modal-header">
  <h1 class="modal-title"><%= t('blacklight.sms.form.title') %></h1>
  <button type="button" class="blacklight-modal-close close" data-dismiss="modal" aria-label="<%= t('blacklight.modal.close') %>">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <%= render partial: '/shared/flash_msg' %>
  <span data-blacklight-modal="close"></span>
</div>
