/*
Flare ID's
*/
#FlareFacetList, #FlareFacetListHeader, #FlareResult {
	font-family:arial;
}

#FlareFacetListHeader{
font-size:90%;
line-height:1.2em;
border:dotted 1px gray;
background-color:lightyellow;
padding:1em;
margin:-3em 0 1em 0;
}

#FlareFacetList div h2{
	border-bottom:dotted 1px gray;
	height:1em;
	letter-spacing:.1em;
}

#FlareFacetList>div{
	margin-bottom:-.5em;
}

#FlareFacetList div ul{
	margin-bottom:2em;
}

#FlareFacetList div ul li{
	list-style:none;
	margin-left:-2em;
}

#FlareFacetList div ul li a:hover{
	background-color:lightyellow;
}

#FlareFacetListHeader h4{
	color:gray;
	margin:0;
	display:inline;
}
#FlareAppliedFilters ul{
	margin:1em 0 0 -1em;
}
#FlareAppliedFilters li{
	list-style:square;
	font-size:91%;
}

/*
Flare Classes
*/
.flare-pagination {
	text-align:center;
	margin:0 auto;
	border:dotted 1px gray;
	background-color:lightyellow;
}

.flare-record {
	margin-top:.5em;
	margin-bottom:1em;
	width:100%;
	/* background-color:#EFEFEF; */
	background-color:#e6e8f5;
	width:99%;
	border:solid 1px lightgray;
}

.flare-record th {
	margin:0;
	font-size:105%;
}

.flare-record tr td {
	padding:.1em;
}

.flare-record-title {
	text-align:left;
	padding:.3em;
	font-weight:bold;
	background-color:lightgray;
	margin:-.3em;
}

.flare-record-field {
	width:160px;
	text-align:right;
	font-weight:bold;
	color:gray;
}

.flare-record-raw-marc {
	width:95%;
	margin:0 auto;
	max-height:220px;
	overflow:scroll;
	border:dotted 1px gray;
	padding:.5em;
	background-color:lightgray;
	font-size:90%;
}