Blacklight.configure(:shared) do |config|

  # solr field contents given special treatment in the show (single result) view
  config[:show] = {
    :html_title => "title_245a_display",
    :heading => "title_full_display",
    :display_type => "format_display"
  }

  # solr field contents given special treatment in the index (search results) view
  config[:index] = {
    :show_link => "title_display",
    :num_per_page => 20,
    :record_display_type => "format_display"
  }

  # solr fields that will be treated as facets by the blacklight application 
  config[:facet] = {
    :field_names => [
      "access_facet",
      "building_facet",
      "format_facet",
      "lc_1letter_facet",
      "dewey_1digit_facet",
      "author_person_facet",
      "author_combined_facet",
#      "author_corp_facet",
#      "author_meeting_facet",
      "language_facet",
      "topic_facet",
      "pub_date_group_facet",
      "era_facet",
      "geographic_facet"
    ],
    :labels => {
      "access_facet"            => "Access",
      "building_facet"          => "Library",
      "format_facet"            => "Format",
      "lc_1letter_facet"        => "Call Number (Library of \n Congress)",
      "dewey_1digit_facet"      => "Call Number (Dewey)",
      "author_person_facet"     => "Author (Person)",
      "author_combined_facet"   => "Author (All)",
#      "author_corp_facet"       => "Author (Corporate)",
#      "author_meeting_facet"    => "Author (Meeting)",
      "language_facet"          => "Language",
      "topic_facet"             => "Topic",
      "pub_date_group_facet"    => "Year",
      "era_facet"               => "Era",
      "geographic_facet"        => "Region"
    }
  }

  # solr fields to be displayed in the index (search results) view
  config[:index_fields] = {:field_names => [
    "title_display", "vern_title_display",
    "author_person_display", "vern_author_person_display",
    "publish_date_display",
    "format_display"
  ]}
  # solr fields to be displayed in the index (search results) view
  config[:index_fields] = {
    :field_names => [
      "title_245a_display",
      "title_display",
      "vern_title_display",
      "title_uniform_display",
      "vern_title_uniform_display",
      "author_person_display",
      "vern_author_person_display",
      "author_corp_display", 
      "vern_author_corp_display",
      "author_meeting_display", 
      "vern_author_meeting_display",
      "publish_date_display",
      "format_display"
    ],
    :labels => {
      "title_245a_display"          => "",
      "title_display"               => "Title:",
      "vern_title_display"          => "Title:",
      "title_uniform_display"       => "Title:",
      "vern_title_uniform_display"  => "Title:",
      "author_person_display"       => "Author/Creator:",
      "vern_author_person_display"  => "Author/Creator:",
      "author_corp_display"         => "Corporate Author:", 
      "vern_author_corp_display"    => "Corporate Author:",
      "author_meeting_display"      => "Meeting Author:", 
      "vern_author_meeting_display" => "Meeting Author:",
      "publish_date_display"        => "Published:",
      "format_display"              => "Format:"
    }
  }

  # solr fields to be displayed in the show (single result) view
  config[:show_fields] = {
    :field_names => [
      "title_full_display", 
      "vern_title_full_display",
      "vern_uniform_display",
      "vern_title_uniform_display",
      "title_variant_display", 
      "vern_title_variant_display",
      "author_person_full_display",
      "vern_author_person_full_display",
      "author_corp_display", 
      "vern_author_corp_display",
      "author_meeting_display", 
      "vern_author_meeting_display",
      "publication_display",
      "vern_publication_display",
      "format_display",
      "physical_display",
      "series_title_display",
      "vern_series_title_display",
      "edition_display", 
      "vern_edition_display"
    ],
    :labels => {
      "title_full_display"              => "Title:",
      "vern_title_full_display"         => "Title:",
      "title_uniform_display"           => "Uniform Title:",
      "vern_title_uniform_display"      => "Uniform Title:",
      "title_variant_display"           => "Variant Title", 
      "vern_title_variant_display"      => "Variant Title",
      "author_person_full_display"      => "Author/Creator:",
      "vern_author_person_full_display" => "Author/Creator:",
      "author_corp_display"             => "Corporate Author:", 
      "vern_author_corp_display"        => "Corporate Author:",
      "author_meeting_display"          => "Meeting Author:", 
      "vern_author_meeting_display"     => "Meeting Author:",
      "publication_display"             => "Published:",
      "vern_publication_display"        => "Published:",
      "format_display"                  => "Format:",
      "physical_display"                => "Physical Description:",
      "series_title_display"            => "Series:",
      "vern_series_title_display"       => "Series:",
      "edition_display"                 => "Edition:", 
      "vern_edition_display"            => "Edition:"
    }
  }

  # type of raw data in index.  Currently marcxml and marc21 are supported.
  config[:raw_storage_type] = "marc21"
  # name of solr field containing raw data
  config[:raw_storage_field] = "marc_raw_display"

  # "fielded" search select (pulldown)
  # label in pulldown is followed by the name of a SOLR request handler as 
  # defined in solr/conf/solrconfig.xml
  config[:search_fields] ||= []
  config[:search_fields] << ['Everything', 'search']
  config[:search_fields] << ['Author', 'search_author']
  config[:search_fields] << ['Title', 'search_title']
#  config[:search_fields] << ['ISBN/ISSN', 'search_isn'] # waiting for new solrconfig.xml
  
  # "sort results by" select (pulldown)
  # label in pulldown is followed by the name of the SOLR field to sort by and
  #  whether the sort is ascending or descending (it must be asc or desc
  #  except in the relevancy case).
  config[:sort_fields] ||= []
  config[:sort_fields] << ['relevance', '']
  # config[:sort_fields] << ['year', 'pub_date_sort desc'] # waiting for reindex
  config[:sort_fields] << ['author', 'author_sort asc']
  config[:sort_fields] << ['title', 'title_sort asc']
end

