<span class="btn-group applied-filter constraint <%= @classes %>">
  <span class="constraint-value btn btn-outline-secondary">
    <% if @label.present? %>
      <span class="filter-name"><%= @label %></span>
    <% end %>
    <% if @value.present? %>
      <%= content_tag :span, @value, class: 'filter-value', title: strip_tags(@value) %>
    <% end %>
  </span>
  <%= remove_button %>
</span>
