<%= tag.div class: 'navbar navbar-search bg-body-tertiary border-bottom', role: 'navigation', aria: { label: t('blacklight.search.header') } do %>
  <div class="<%= container_classes %>">
    <%= search_bar %>
  </div>
<% end %>
