<nav id="skip-link" class="visually-hidden-focusable" aria-label="<%= t('blacklight.skip_links.label') %>">
  <div class="container-xl">
    <%= link_to_main %>
    <%= link_to_search %>
    <%= content %>
  </div>
</nav>
