<%= link_to url, title: label, aria: aria_attributes, class: "#{Array(@classes).join(' ')} view-type-#{ @key.to_s.parameterize } #{"active" if selected?}" do %>
  <%= icon %>
  <span class="caption"><%= label %></span>
<% end %>
