<div class="view-type">
  <span class="sr-only visually-hidden"><%= t('blacklight.search.view_title') %></span>
  <div class="view-type-group btn-group">
    <% views.each do |view| %>
      <%= view %>
    <% end %>
  </div>
</div>
