<% if flash_notice = flash[:notice] %>
  <div class="ui-state-highlight ui-corner-all notice"><%= flash_notice %></div>
<% end %>
<% if flash_error = flash[:error] %>
  <div class="ui-state-error ui-corner-all error"><%= flash_error %></div>
<% end %>