<% [:notice, :error, :alert].each do |type| %>
  <% if flash[type] %>
    <div class="alert alert-<%= type == :error ? 'error' : 'info' %>"><%= flash[type] %>
       <a class="close" data-dismiss="alert" href="#">x</a>
    </div>
  <% end %>
<% end %>
